[Unit]
Description=Rclone-backup
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
# Type=oneshot # Service has Restart= setting other than no, which isn't allowed for Type=oneshot services
User=root
ExecStart=/bin/bash /root/backup.sh
# and should not use && in ExecStart
Restart=on-failure
RestartSec=3
